{% extends "base.html" %} {% block title %} - Instructions{% endblock %}
<!-- {% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %} -->
{% block content %}
<h1>Your Pixelated Image:</h1>
<img src="../input/berries.jpeg" />
<h1>Instructions</h1>
<!-- {{ stitches }} -->
<p>Cast on.</p>
<!-- for blah blah print out blah -->
<!-- <ol>
    {% for row in rows %}
    <li>{{ user.username|e }}</p>
  {% endfor %}
</ol> -->
{% endblock %}
